@import "~@material/typography/mdc-typography";
@import "~@material/button/mdc-button";
@import "~@material/top-app-bar/mdc-top-app-bar";
@import "~@material/icon-button/mdc-icon-button";
@import "~@material/list/mdc-list";
@import "~@material/menu-surface/mdc-menu-surface";
@import "~@material/menu/mdc-menu";
@import "~@material/elevation/mdc-elevation";
@import "~@material/checkbox/mdc-checkbox";
@import "~@material/textfield/mdc-text-field";
@import "~@material/layout-grid/mdc-layout-grid";


// ----- //

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

// ----- //

$color-primary-dark: #2faaff;
$color-primary-light: #2cceff;

.text {
    @extend .mdc-typography;

    &--sign-in-title {
        @extend .mdc-typography--headline4;

        text-align: center;
        margin-top: 16px;
    }
}

.image {
    &--sign-in-app {
        background-image: url("./assets/appicon.svg");
        background-repeat: no-repeat;
        background-position: center center;
        width: 128px;
        height: 128px;
        margin: 128px auto 0 auto;
    }
}

.button {
    @extend .mdc-button;

    @include mdc-button-shape-radius($radius: ($mdc-button-height / 2));

    &--primary {
        @extend .mdc-button--raised;

        &:not(:disabled) {
            background: linear-gradient(90deg, $color-primary-dark, $color-primary-light);
        }
    }

    &--secondary {
        @extend .mdc-button--outlined;

        @include mdc-button-ink-color($color: $color-primary-light);
        @include mdc-button-outline-color($color: $color-primary-light);
    }

    &--sign-in-google {
        @extend .button--primary;

        text-transform: none;
        margin: 92px auto 0 auto;
        display: block;
        width: 256px;
    }

    &--put-habit {
        @extend .button--secondary;

        width: 100%;
    }

    &--delete-habit {
        @extend .button--secondary;

        width: 100%;
    }

    &--confirm {
        @extend .button--primary;

        width: 100%;
    }

    &--cancel {
        @extend .button--secondary;

        width: 100%;
    }

    &__label {
        @extend .mdc-button__label;
    }
}

.icon-button {
    @extend .mdc-icon-button;
    @extend .material-icons;

    &__to-prev-day {
        @include mdc-icon-button-size($size: 32px);
        @include mdc-icon-button-ink-color($color: $color-primary-dark);

        background-color: #ffffff;
        border-radius: 16px;
    }

    &__to-next-day {
        @include mdc-icon-button-size($size: 32px);
        @include mdc-icon-button-ink-color($color: $color-primary-light);

        background-color: #ffffff;
        border-radius: 16px;
    }
}

.top-app-bar {
    @extend .mdc-top-app-bar;
    @extend .mdc-top-app-bar--short;

    background: linear-gradient(90deg, $color-primary-dark, $color-primary-light);

    &--fixed-adjust {
        @extend .mdc-top-app-bar--short-fixed-adjust;
    }

    &__row {
        @extend .mdc-top-app-bar__row;
    }

    &__section {
        @extend .mdc-top-app-bar__section;

        &--align-start {
            @extend .mdc-top-app-bar__section--align-start;
        }

        &--align-end {
            @extend .mdc-top-app-bar__section--align-end;
        }
    }

    &__title {
        @extend .mdc-top-app-bar__title;
    }
}

.top-nav {
    &__row {
        $row-height: 64px;

        display: flex;
        height: $row-height;
        background-image: linear-gradient(90deg, $color-primary-dark, $color-primary-light);

        &--half-colored {
            background-image: linear-gradient(90deg, $color-primary-dark, $color-primary-light), linear-gradient(#ffffff, #ffffff);
            background-position: left top, left bottom;
            background-repeat: no-repeat, no-repeat;
            background-size: 100% $row-height/2, 100% $row-height/2;
        }
    }

    &__section {
        display: inline-flex;
        align-items: center;

        &--full {
            display: flex;
            justify-content: center;
            width: 100%;
        }

        &--left {
            justify-content: flex-start;
            padding-left: 16px;
        }

        &--center {
            justify-content: center;
        }

        &--right {
            justify-content: flex-end;
            padding-right: 16px;
        }
    }

    &__title {
        @extend .mdc-typography;
        @extend .mdc-typography--headline6;

        color: #ffffff;
        text-align: center;
    }

    &__panel {
        @extend .mdc-elevation--z2;
        @extend .mdc-typography;
        @extend .mdc-typography--headline6;

        width: 192px;
        height: 48px;
        line-height: 48px;
        background-color: #ffffff;
        text-align: center;
        border-radius: 4px;
        margin: 0 auto;
    }
}

.menu {
    @extend .mdc-menu;

    &--top-app-bar {
        right: 0;
        top: $mdc-top-app-bar-mobile-row-height;
    }
}

.menu-surface {
    @extend .mdc-menu-surface;

    &--open {
        @extend .mdc-menu-surface--open;
    }
}

.list {
    @extend .mdc-list;
}

.list-item {
    @extend .mdc-list-item;

    &--habit {
        @extend .mdc-elevation--z2;

        @include mdc-list-single-line-height($height: 56px);

        margin: 16px 16px 0 16px;
        border-radius: 4px;
    }

    &__text {
        @extend .mdc-list-item__text;
    }

    &__meta {
        @extend .mdc-list-item__meta;
    }
}

.checkbox {
    @extend .mdc-checkbox;

    @include mdc-checkbox-container-colors(
                    $unmarked-stroke-color: $color-primary-light,
                    $unmarked-fill-color: transparent,
                    $marked-stroke-color: $color-primary-dark,
                    $marked-fill-color: $color-primary-dark,
                    $generate-keyframes: true);
    @include mdc-checkbox-ink-color($color: #ffffff);

    &__native-control {
        @extend .mdc-checkbox__native-control;
    }

    &__background {
        @extend .mdc-checkbox__background;
    }

    &__checkmark {
        @extend .mdc-checkbox__checkmark;
    }

    &__checkmark-path {
        @extend .mdc-checkbox__checkmark-path;
    }

    &__mixedmark {
        @extend .mdc-checkbox__mixedmark;
    }
}

.text-field {
    @extend .mdc-text-field;

    &--fullwidth {
        @extend .mdc-text-field--fullwidth;
    }

    &__input {
        @extend .mdc-text-field__input;
    }
}

.layout-grid {
    @extend .mdc-layout-grid;

    &--post-habit {
        padding: 32px;
        margin-top: 92px;
    }

    &__inner {
        @extend .mdc-layout-grid__inner;
    }

    &__cell {
        @extend .mdc-layout-grid__cell;

        &--bottom-buttons {
            margin-top: 32px;
        }

        &--span-2 {
            @extend .mdc-layout-grid__cell--span-2;
        }
    }
}

.app {
    &__container {
        min-height: 100vh;
    }

    &__footer {
        padding-top: 64px;
        padding-bottom: 32px;
    }

    &__footer-title {
        @extend .mdc-typography;
        @extend .mdc-typography--subtitle1;

        text-align: center;
        color: $color-primary-dark;
    }
}

// ----- //

.react-calendar {
    @extend .mdc-elevation--z2;

    margin: 0 auto 0 auto !important;
    padding: 0 8px 8px 8px !important;
    border: none !important;
    border-radius: 4px !important;

    &__navigation {
        &__label {
            &:disabled {
                background-color: #ffffff !important;
                color: #000000 !important;
            }
        }
    }

    &__tile {
        margin-bottom: 4px !important;

        &--active {
            background: none !important;
            color: #000000 !important;
            font-weight: bold !important;
        }

        &--is-recorded {
            padding: 0 !important;

            abbr {
                color: #ffffff !important;
                background-color: $color-primary-light !important;
                display: block !important;
                height: 42px !important;
                width: 42px !important;
                line-height: 42px !important;
                border-radius: 21px !important;
                margin: 0 auto !important;
            }
        }
    }
}

// ----- //
